* {
    margin: 0;
    padding: 0;
}

.Pages {
    height: 100vh;
    background-image: url(../images/city1920.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}